/* Playfair Display Variable (weight axis) */
@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/playfairdisplay-variablefont_wght-webfont.woff2') format('woff2-variations'),
       url('../assets/fonts/playfairdisplay-variablefont_wght-webfont.woff')  format('woff-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Source Sans 3 Variable (weight axis) */
@font-face {
  font-family: 'Mada';
  src: url('../assets/fonts/mada-variablefont_wght-webfont.woff2') format('woff2-variations'),
       url('../assets/fonts/mada-variablefont_wght-webfont.woff2')  format('woff-variations');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

/* box-sizing & base resets */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bar-height: 4rem;
}

body {
  margin: 2rem;
  font-family: 'Mada', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #311847;
  background: #ADF1D2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #28666E;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #00241B;
  text-decoration: underline;
}

/* Base headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0.5em;
}